body{
  background-color: rgb(94, 94, 94);
}
header, .alert{
  z-index: 100;
  background-color: aliceblue;
}
.description{
  height: 20px;
  overflow: hidden;
  transition: height .2s ease-in .2s;
}
.description:hover{
  height: 250px;
}
.carrito{
  min-height: 80vh;
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
}
.table__productos{
  display: flex;
}
.table__productos > img{
  width: 9rem;
  object-fit: contain;
  border-radius: 6px;
  margin-right: 20px;
}
.table__cantidad > input{
  width: 40px;
  border: none;
  outline: 0;
  font-size: 16px;
  font-weight: 700;
  margin-right: 30px;
  margin-bottom: 20px;
}
.hide, .remove{
  display: none;
}
/* start footer */
.pie-pagina{
  width: 100%;
  background-color: aliceblue;
}
.pie-pagina .grupo-1{
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 25px;
  padding: 1px 0px;
}
.pie-pagina .grupo-1 .box figure{
  display: flex;
  justify-content: center;
  align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
  width: 250px;
}
.pie-pagina .grupo-1 .box h2{
  margin: 5px;
  font-size: 20px;
}
.pie-pagina .grupo-1 .red-social a{
  margin-bottom: 25px;
  display: inline-block;
  text-decoration: none;
  width: 100px;
  height: 100px; 
  background-color: rgb(47, 113, 199);
  text-align: center;
  transition: all 200ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
   border-radius: 100px;
}
.pie-pagina .grupo-2{
  color: white;
  background-color: rgb(73, 135, 250);
  padding: 10px;
  text-align: center;
}